Type	Enabled	Quantity	SRC	Component	OITitle	Name	Behavior	CycleTime	Policy	Tags	SpawnTime	Location	Position	Branch	Cleared	Original
Supply Record	true	11	19882K000	AC	OI217	Auto	Auto	0	Auto	Auto	0	Auto	Auto	19	true	false
Supply Record	true	10	10560RN00	AC	OI412	Auto	Auto	0	Auto	Auto	0	Auto	Auto	10	true	false
Supply Record	true	6	05617R000	AC	OI94	Auto	Auto	0	Auto	Auto	0	Auto	Auto	05	true	false
Supply Record	true	7	17215K100	AC	OI55	Auto	Auto	0	Auto	Auto	0	Auto	Auto	17	true	false
Supply Record	true	19	07815R000	AC	OI372	Auto	Auto	0	Auto	Auto	0	Auto	Auto	07	true	false
Supply Record	true	6	51100R100	AC	OI235	Auto	Auto	0	Auto	Auto	0	Auto	Auto	51	true	false
Supply Record	true	10	30715R200	AC	OI297	Auto	Auto	0	Auto	Auto	0	Auto	Auto	30	true	false
Supply Record	true	1	63862R000	AC	OI204	Auto	Auto	0	Auto	Auto	0	Auto	Auto	63	true	false
Supply Record	true	7	05315K800	AC	OI37	Auto	Auto	0	Auto	Auto	0	Auto	Auto	05	true	false
Supply Record	true	10	01825G000	AC	OI396	Auto	Auto	0	Auto	Auto	0	Auto	Auto	01	true	false
Supply Record	true	11	08668R000	AC	OI10	Auto	Auto	0	Auto	Auto	0	Auto	Auto	08	true	false
Supply Record	true	10	10527RG00	AC	OI366	Auto	Auto	0	Auto	Auto	0	Auto	Auto	10	true	false
Supply Record	true	8	01808G000	AC	OI152	Auto	Auto	0	Auto	Auto	0	Auto	Auto	01	true	false
Supply Record	true	7	63045K000	AC	OI43	Auto	Auto	0	Auto	Auto	0	Auto	Auto	63	true	false
Supply Record	true	2	05530RA00	AC	OI101	Auto	Auto	0	Auto	Auto	0	Auto	Auto	05	true	false
Supply Record	true	10	02553KA00	AC	OI239	Auto	Auto	0	Auto	Auto	0	Auto	Auto	02	true	false
Supply Record	true	70	01285K100	AC	OI158	Auto	Auto	0	Auto	Auto	0	Auto	Auto	01	true	false
Supply Record	true	4	40793R000	AC	OI136	Auto	Auto	0	Auto	Auto	0	Auto	Auto	40	true	false
Supply Record	true	23	30815R300	AC	OI306	Auto	Auto	0	Auto	Auto	0	Auto	Auto	30	true	false
Supply Record	true	64	01225K000	AC	OI147	Auto	Auto	0	Auto	Auto	0	Auto	Auto	01	true	false
Supply Record	true	5	07802K000	AC	OI169	Auto	Auto	0	Auto	Auto	0	Auto	Auto	07	true	false
Supply Record	true	9	03323K000	AC	OI60	Auto	Auto	0	Auto	Auto	0	Auto	Auto	03	true	false
Supply Record	true	70	01707R000	AC	OI153	Auto	Auto	0	Auto	Auto	0	Auto	Auto	01	true	false
Supply Record	true	70	63375K000	AC	OI29	Auto	Auto	0	Auto	Auto	0	Auto	Auto	63	true	false
Supply Record	true	7	06235K300	AC	OI128	Auto	Auto	0	Auto	Auto	0	Auto	Auto	06	true	false
Supply Record	true	16	90873R000	AC	OI84	Auto	Auto	0	Auto	Auto	0	Auto	Auto	90	true	false
Supply Record	true	9	08670R000	AC	OI288	Auto	Auto	0	Auto	Auto	0	Auto	Auto	08	true	false
Supply Record	true	52	41737R100	AC	OI52	Auto	Auto	0	Auto	Auto	0	Auto	Auto	41	true	false
Supply Record	true	16	33725G200	AC	OI349	Auto	Auto	0	Auto	Auto	0	Auto	Auto	33	true	false
Supply Record	true	73	01302K000	AC	OI178	Auto	Auto	0	Auto	Auto	0	Auto	Auto	01	true	false
Supply Record	true	7	77202K100	AC	OI243	Auto	Auto	0	Auto	Auto	0	Auto	Auto	77	true	false
Supply Record	true	14	33737G200	AC	OI407	Auto	Auto	0	Auto	Auto	0	Auto	Auto	33	true	false
Supply Record	true	169	27773K000	AC	OI121	Auto	Auto	0	Auto	Auto	0	Auto	Auto	27	true	false
Supply Record	true	40	05640R000	AC	OI93	Auto	Auto	0	Auto	Auto	0	Auto	Auto	05	true	false
Supply Record	true	9	41736R100	AC	OI182	Auto	Auto	0	Auto	Auto	0	Auto	Auto	41	true	false
Supply Record	true	5	33712G200	AC	OI193	Auto	Auto	0	Auto	Auto	0	Auto	Auto	33	true	false
Supply Record	true	52	27473K000	AC	OI381	Auto	Auto	0	Auto	Auto	0	Auto	Auto	27	true	false
Supply Record	true	42	44693R000	AC	OI4	Auto	Auto	0	Auto	Auto	0	Auto	Auto	44	true	false
Supply Record	true	26	08528RB00	AC	OI291	Auto	Auto	0	Auto	Auto	0	Auto	Auto	08	true	false
Supply Record	true	10	52410K300	AC	OI86	Auto	Auto	0	Auto	Auto	0	Auto	Auto	52	true	false
Supply Record	true	55	12567RL00	AC	OI258	Auto	Auto	0	Auto	Auto	0	Auto	Auto	12	true	false
Supply Record	true	5	07805K000	AC	OI376	Auto	Auto	0	Auto	Auto	0	Auto	Auto	07	true	false
Supply Record	true	100	01205K000	AC	OI18	Auto	Auto	0	Auto	Auto	0	Auto	Auto	01	true	false
Supply Record	true	0	01205K000	NG	OI18	Auto	Auto	0	Auto	Auto	0	Auto	Auto	01	true	false
Supply Record	true	0	01205K000	RC	OI18	Auto	Auto	0	Auto	Auto	0	Auto	Auto	01	true	false
Supply Record	true	46	44635K000	AC	OI3	Auto	Auto	0	Auto	Auto	0	Auto	Auto	44	true	false
Supply Record	true	4	05543RH10	AC	OI150	Auto	Auto	0	Auto	Auto	0	Auto	Auto	05	true	false
Supply Record	true	37	06333K000	AC	OI160	Auto	Auto	0	Auto	Auto	0	Auto	Auto	06	true	false
